{% extends 'layout.twig' %} 

{% block submenu %}
    <p style="color:black;">Usuario Cambio de Contraseña</p>  
    {% if session is defined %}
        {% if session.rol is defined %}
            {% if session.user.rol == "Admin" %}
       <h5 style="color:black;">Usuario</h5> 
         <br>
        <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="/user/create"><p style="color:black;"><strong>Crear Usuario</strong></p> </a>  
            </div> 
            <div class="col-sm">
                <a href="/user"><p style="color:black;" ><strong>Lista de Usuarios</strong></p> </a>  
            </div> 
        </div>
        </div> 	
            {% endif %}  
        {% endif %}  
    {% endif %} 
{% endblock %}   
{% block body %} 
   <div class="container">  
           <div class="container">   
           <br><br>
                    <form action="/user/changePasswordFN/" method="post" id="formChangePassword" onclick="deleteAlertDanger()">  
                        <input type="text" name="id"    value='{{ user._id }}' style="display: none;"  > 
                          <input type="text" name="usertype"    value='{{ session.user.rol }}' style="display: none;"  > 
                        {% if session is defined %}
                        {% if session.rol is defined %}
                                {% if session.user.rol == "Admin" %}
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">Nueva Contraseña</label>
                                                        <input type="password" class="form-control" id="passwordNew"  name="passwordNew" aria-describedby="passwordNew" placeholder="Nueva Contraseña"  required   minlength="5"  >
                                        </div> 
                                    {% else %}  
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">Contraseña Anterior</label>
                                                        <input type="password" class="form-control" id="passwordOld"  name="passwordOld" aria-describedby="passwordOld" placeholder="Contraseña Anterior"  required  >
                                        </div>
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">Nueva Contraseña</label>
                                                        <input type="password" class="form-control" id="passwordNew"  name="passwordNew" aria-describedby="passwordNew" placeholder="Nueva Contraseña"  required   minlength="5"   >
                                        </div>
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">Repite la Contraseña</label>
                                                        <input type="password" class="form-control" id="passwordNewRep"  name="passwordNewRep" aria-describedby="passwordNewRep" placeholder="Repite la Contraseña"  required   minlength="5" >
                                        </div> 
                                {% endif %}  
                                {% endif %}  
                        {% endif %}     
                    </form>  
                     <input type="submit" value="Guardar"  class="btn btn-info" onclick="validatePasswords()" /> 
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}  

 