{% extends 'layout.twig' %}

{% block titulo %} Nuevo {% endblock %}  
{% block submenu %}
    <p>Productos</p>  
    <menu>
        <li>
             <a href="/products/create">Create Product</a>  </li>
        <li>
            <a href="/products">Product List</a> 
        </li>
    </menu> 	
{% endblock %} 

{% block body %} 
      <div class="container">  
                    <form action="/products/save" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="Name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="price" aria-describedby="Price" placeholder="name">
                    </div>
                    <input type="submit" value="Save"  class="btn btn-info" />
                    </form> 
        </div>
{% endblock %} 